:root{
    --pink:#e84393;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior:smooth ;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255,51,153,.05);
}

.heading span{
    color: var(--pink);
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: green;
}
/* Header Section */
header{
    position: fixed;
    top:0; left:0; right:0;
    background: #fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color: var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: var(--pink);
   
}

header .icons a{
    cursor:pointer;
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: 0.5rem 1.5rem;
    cursor:pointer;
   border: solid rgba(0,0,0,.3);
    display: none;
}

/*Header Section Ends*/


/*Search Bar Section Starts*/

header .search-form{
    position: absolute;
    top: 115%; right: 10%;
    background: #fff;
    width: 35rem;
    height: 4rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

header .search-form.active{
    transform: scaleY(1);
}

header .search-form input{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

header .search-form label{
    cursor: pointer;
    font-size: 2.3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: var(--black);
}

header .search-form label:hover{
color:#fff;
}

header .search-form label::after{
height: 100%;
width: 0%;
content: '';
background:rgb(19, 123, 19);
position: absolute;
top: 0;
right: 0;
z-index: -1;
transition: 0.3s;
}
header .search-form label:hover::after{
width: 100%;
}

/*Search Bar Section Ends*/




/*Cart Section*/
header .cart-items-container{
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background:whitesmoke;
    padding: 0 1.5rem;
}

header .cart-items-container.active{
    right: 0%;
}
header .cart-items-container h1{
    font-size: 2.5rem;
    color: var(--black);
    padding-bottom: 1rem;
    padding-top: .5rem;
}
header .cart-items-container h2{
    font-size: 2.0rem;
    color: orangered;
    padding-bottom: 1rem;
    padding-top: 1.5rem;

}

.bttn{
    margin-left: 21%;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.bttn:hover{
    background: green;
}
header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

header .cart-items-container .cart-item .fa-times:hover{
    color: var(--pink);
}


header .cart-items-container .cart-item img{
    height: 7rem;
}

header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: orangered;
}

/*Cart Section Ends*/





/*Home Section Starts*/
.home{
    display: flex;
    align-items: center;
    min-height: 120vh;
    background:url(bg.avif)no-repeat;
    background-size: cover;
    background-position: center;
}



.home.content{
    max-width: 50rem;
    color: #333;
}

.home .content h3{
    font-size: 4.0rem;

}

.home .content span{
    font-size: 3.0rem;
    color: brown;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:#333;
    padding: 1rem 0;
    line-height: 1.5;  
}
/*Home Section Ends*/



/*About Section Starts*/
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex:1 1 40rem;
    position: relative;
}

.about .row  .video-container video{
    width:100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width:100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

 
.about .row .content {
   flex: 1 1 40rem;
   
}


.about .row .content h3 {
    font-size: 3rem;
    color: #333;
 }


.about .row .content p{
   font-size: 2.0rem;
   color: #df5eb9;
   padding: 5rem 0;
   padding-top: 1rem;
   line-height: 1.5;
}

/*Icons Section Starts*/

.icons-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    background: #fff;
    border: 1rem  rgba(0,0,0.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.icons-container .icons img{
    height:9rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}


.icons-container .icons span{
    color: #555;
    font-size: 1.3rem;
}

/*Icons Section Ends*/

/*Products Section Starts*/
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
    
.products .box-container .box{
  flex: 1 1 30rem;
  box-shadow: 0  .5rem 1.5rem rgba(0,0,0,.1);
  border-radius: .5rem;
  border:.1rem solid rgba(0,0,0,.1); 
  position: relative;
}

.products .box-container .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    padding:.7rem 1rem;
    font-size: 2rem;
    color: var(--pink);
    background: rgba(255, 51, 153,.05);
    z-index: 1;
    border-radius: .5rem;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
}

.products .box-container .box .image img{
    height:25rem;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}


.products .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex; 
}

.products .box-container .box:hover .image .icons {
    bottom: 0;
}



.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: var(--pink);
    color: #fff;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.products .box-container .box .image .icons a:hover{
    background: #333;
}


.products .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}


.products .box-container .box .content .price{
    font-size: 2.5rem;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
}


.products .box-container .box .content span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
   text-decoration: line-through;
}

/*Products Section Ends*/


/*Review Section Starts*/
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0  .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .1);
}


.review .box-container  .box  .fa-quote-right{
position: absolute;
bottom: 3rem; right: 3rem;
font-size: 6rem;
color: #eee;
}

.review .box-container  .box  .stars i{
    color: gold;
    font-size: 2rem;
}


.review .box-container  .box  p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}


.review .box-container  .box  .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container  .box  .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
.review .box-container  .box  .user h3{
    font-size: 2rem;
    color: #333;
}


.review .box-container  .box  .user span{
    font-size: 1.5rem;
    color: #999;
}
/*Review Section Ends*/




/*Contact Section Starts*/
.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}

.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow:0  .5rem  1.5rem  rgba(0, 0, 0,.1);
    border: .1rem solid rgba(0, 0, 0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
  width: 100%;
}


.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0,.1);
    border-radius: .5rem;
    margin: .7rem;
    width: 100%;
}


.contact .row form .box:focus{
    border-color: var(--pink);
}


.contact .row form textarea{
    height: 15rem;
    resize: none;
}

/*Contact Section Ends*/


/*Footer Section*/
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    flex:1  1  25rem;
}


.footer .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    text-transform: none;
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}


.footer .box-container .box a:hover{
    color:var(--pink);
}


.footer .box-container .box img{
    margin-top: 1rem;
    width: 50%;

}

/*Footer Section Ends*/




/*Login Page Starts*/
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
width: 420px;
background: transparent;
border: 2px solid rgba(255, 255, 255, .2);
backdrop-filter: blur(20px);
box-shadow: 0 0 10px rgba(0, 0, 0, .2);
color:brown;
border-radius: 10px;
padding: 30px 40px;
}
.wrapper h1 {
font-size: 36px;
text-align: center;
}
.wrapper .input-box {
position: relative;
width: 100%;
height: 50px;
margin: 30px 0;
}
.input-box input {
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
border: 2px solid rgba(255, 255, 255, .2);
border-radius: 40px;
font-size: 16px;
color: brown;
padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
color:brown;
}
.input-box i {
position: absolute;
right: 20px;
top: 50%;
transform: translateY(-50%);
font-size: 20px;
}
.wrapper .remember-forgot {
display: flex;
justify-content: space-between;
font-size: 14.5px;
margin: -15px 0 15px;
}
.remember-forgot label input {
accent-color: brown;
margin-right: 3px;
}
.remember-forgot a {
color: brown;
text-decoration: none;
}
.remember-forgot a:hover {
text-decoration: underline;
}
.wrapper .btn {
width: 100%;
height: 45px;
background: green;
border: none;
outline: none;
border-radius: 40px;
box-shadow: 0 0 10px rgba(0, 0, 0, .1);
cursor: pointer;
font-size: 16px;
color: whitesmoke;
font-weight:600;
}
.wrapper .register-link {
font-size: 14.5px;
text-align: center;
margin: 20px 0 15px;
}
.register-link p a{
color:brown;
text-decoration: none;
}
.register-link p a:hover {
text-decoration: underline;
}
/*Login Page Ends*/

















/* Media Queries*/
 @media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    } 

    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
    }

}

@media(max-width:772px){
    header .fa-bars{
        
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    } 

   header #toggler:checked ~ .navbar{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

    header .navbar a{
        margin:1.5rem;
       padding: 1.5rem;
        background: #fff;
        border: 1rem solid rgba(0,0,0,.1);
        display: block;
    }

   header .search-form{
    width: 60%;
    right: 2rem;
   }


    .home .content h3{
        font-size: 5rem;

    }


    .home .content span{
        font-size: 2.5rem;
        
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    


}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
    
    .heading{
        font-size: 3rem;
    }

    .home{
      
        background:url(bg3.jpg)no-repeat;
        
    }
    
.home .content span{
    font-size: 3.0rem;
    font-weight: bold;
    color:brown;
    padding: 1rem 0;
    line-height: 1.5;
}
    
.home .content p{
    font-size: 2.0rem;
    font-weight: bold;
    color:peru;
    padding: 1rem 0;
    line-height: 1.5;  
}
    header .search-form{
        width: 40%;
        right: 2rem;
       }



}

/*Media Queries End*/
